<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="camera">
    <xacro:arg name="camera_width" default="640" />
    <xacro:arg name="camera_height" default="480" />
    <xacro:arg name="camera_fps" default="15" />

    <xacro:macro name="rgbd_camera" params="parent_link name prefix *origin">
        <!-- Camera link -->
        <link name="${prefix}${name}_frame">
            <!-- <visual>
                <geometry>
                    <box size="0.05 0.05 0.05" />
                </geometry>
            </visual> -->
        </link>

        <!-- Fixed joint connecting camera to parent -->
        <joint name="${prefix}${name}_joint" type="fixed">
            <parent link="${parent_link}" />
            <child link="${prefix}${name}_frame" />
            <xacro:insert_block name="origin" />
        </joint>
    </xacro:macro>

    <xacro:macro name="gz_rgbd_camera" params="name prefix">
        <gazebo reference="${prefix}${name}_frame">
            <sensor name="camera_sensor" type="rgbd_camera">
                <camera>
                    <horizontal_fov>1.047</horizontal_fov>
                    <image>
                        <width>$(arg camera_width)</width>
                        <height>$(arg camera_height)</height>
                        <format>RGB_INT8</format>
                    </image>
                    <clip>
                        <near>0.1</near>
                        <far>5</far>
                    </clip>
                    <distortion>
                        <k1>0.0</k1>
                        <k2>0.0</k2>
                        <k3>0.0</k3>
                        <p1>0.0</p1>
                        <p2>0.0</p2>
                        <center>0.5 0.5</center>
                    </distortion>
                    <lens>
                        <intrinsics>
                            <fx>554.25469</fx>
                            <fy>554.25469</fy>
                            <cx>320.5</cx>
                            <cy>240.5</cy>
                            <s>0</s>
                        </intrinsics>
                        <!-- These need to match the intrinsics above or
                    Gazebo will default to different default values -->
                        <projection>
                            <p_fx>554.25469</p_fx>
                            <p_fy>554.25469</p_fy>
                            <p_cx>320.5</p_cx>
                            <p_cy>240.5</p_cy>
                            <tx>0</tx>
                            <ty>0</ty>
                        </projection>
                    </lens>
                    <noise>
                        <type>gaussian</type>
                        <mean>0</mean>
                        <stddev>0.00</stddev>
                    </noise>
                    <depth_camera>
                        <clip>
                            <near>0.25</near>
                            <far>5</far>
                        </clip>
                    </depth_camera>
                    <optical_frame_id>${prefix}${name}_frame</optical_frame_id>
                </camera>
                <gz_frame_id>${prefix}${name}_frame</gz_frame_id>
                <always_on>1</always_on>
                <update_rate>$(arg camera_fps)</update_rate>
                <visualize>true</visualize>
                <topic>${prefix}${name}</topic>
                <enable_metrics>false</enable_metrics>
            </sensor>
        </gazebo>
    </xacro:macro>
</robot>